.yt-bookmark-container {
    padding: 1rem;
    padding-right: 0rem;
    margin-right: -1rem;
    cursor: pointer;
}

.yt-bookmark-container>img {
    object-fit: contain;
    width: 25px;
    height: 25px;
}

.yt-bookmark-container>img:hover {
    transform: scale(1.05);
}

.yt-bookmark-container>img:active {
    transform: scale(0.8);
}